.top_menu_item {
  position: relative;
}
.top_menu_item::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #064598;
  transition: all 0.2s ease;
}
.top_menu_item:hover::before {
  width: 100%;
  left: 0;
}
